@import "fonts.css";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.dontshow {
	display: none;
}
.icon-arrow-right:before, .icon-arrow-right:after {
	content: "";
    height: 6px;
    width: 1px;
    position: absolute;
    background-color: #333333;
    left: 10px;
}
.icon-arrow-right:before {
    transform: rotate(45deg);
    top: 9px;
}
.icon-arrow-right:after {
    transform: rotate(-45deg);
    top: 5px;
}
.ug-main-container {
	width: 100vw;
	position: relative;
	color: #333333;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
}

.ug-top-header {
	background-color: #033d58;
	padding: 10px 20px;
	color: #ffffff;
}

.ug-top-header .ug-logo-wrapper {
	display: inline-block;
}

.ug-top-header .version-details {
	font-size: 16px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: bottom;
	line-height: 1.31;
}

.ug-top-header .version-details .version-name {
	font-weight: 500;
}

.ug-body {
	display: flex;
	min-height: calc(100vh - 50px);
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

.ug-body .link {
	color: #10639B;
	font-family: "Open Sans", sans-serif;
}

.ug-body .link:hover {
	color: #333333;
}

.ug-left-container {
	flex: auto;
	border-right: 1px solid #e1e1e1;
	padding: 20px 0 30px;
}

.ug-left-container .ug-nav-header {
	padding: 0 0 20px 20px;
	font-size: 18px;
	font-weight: 500;
}

.ug-left-container ul, .ug-left-container li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ug-left-container li {
	cursor: pointer;
}

.ug-left-container li.menu-item.active > span {
	background-color: #10639B;
	color: #ffffff;
}

.ug-left-container li.menu-item span {
	display: block;
	padding: 17px 45px 17px 20px;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}

.ug-left-container li.menu-item span i.icon-arrow-right {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	transition: ease all .2s;
	height: 20px;
    width: 20px;
}

.ug-left-container li.menu-item span p {
	margin: 0;
	padding: 0;
}

.ug-left-container li.menu-item span p img {
	display: inline-block;
}

.ug-left-container li.menu-item.is-open > span i.icon-arrow-right {
	transform: translateY(-50%) rotate(90deg);
}
.ug-left-container li.menu-item.active > span i.icon-arrow-right:before, .ug-left-container li.menu-item.active > span i.icon-arrow-right:after {
	background-color: #ffffff;
}
.ug-left-container li.menu-item ul {
	position: relative;
    transform: scaleY(0);
    height: auto;
    max-height: 0;
    transform-origin: top;
	margin-left: 10px;
	transition: ease all .3s;
}
.ug-left-container li.menu-item ul.open {
	transform: scaleY(1);
}

.ug-left-container li.menu-item ul .sub-menu-item, .ug-left-container li.menu-item ul .menu-item {
	font-size: 13px;
	font-weight: 700;
	color: #10639B;
}

.ug-left-container li.menu-item ul .menu-item .icon-arrow-right:before, .ug-left-container li.menu-item ul .menu-item .icon-arrow-right:after {
	background-color: #10639B;
}

.ug-left-container li.menu-item ul .sub-menu-item.active {
	background: #10639B;
	color: #ffffff;
}

.ug-left-container li.menu-item ul .menu-item .sub-menu-item span {
	padding: 17px 53px 17px 30px;
}

.ug-left-container li.menu-item ul .menu-item.active > span {
	background: #10639B;
	color: #ffffff;
}

.ug-right-container {
	flex: auto;
	padding: 20px 20px 30px 48px;
}

.ug-right-container .ug-breadcrumb {
	padding: 5px 0 20px 0;
}

.ug-right-container .ug-breadcrumb .link {
	position: relative;
    padding: 5px 12px 5px 0px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.ug-right-container .ug-breadcrumb .link:after {
	content: '>';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #333;
}

.ug-right-container .ug-content-wrapper {
	font-size: 13px;
}

.ug-right-container .ug-content-wrapper .ug-content-main-header {
	position: relative;
	width: calc(100% + 10px);
	padding: 25px 0 13px;
	border-bottom: 1px solid #d8d8d8;
	margin: 0 0 22px;
	font-weight: 400;
	font-size: 28px;
}

.ug-right-container .ug-content-wrapper .ug-content-main-header:after {
	content: "";
	position: absolute;
	bottom: -9px;
	left: 0;
	width: 104px;
	height: 8px;
	background: #107a86;
}

.ug-right-container .ug-content-wrapper .ug-content {
	font-family: "Open Sans", sans-serif;
}

.ug-right-container .ug-content-wrapper .ug-content p {
	margin-bottom: 20px;
}

.ug-right-container .ug-content-wrapper ul {
	margin-bottom: 20px;
	list-style: none;
	padding: 0;
}

.ug-right-container .ug-content-wrapper ol > li {
	padding-left: 15px;
}

.ug-right-container .ug-content-wrapper ol > li:before {
	content: none;
}

.ug-right-container .ug-content-wrapper ol.lower-alpha {
	list-style-type: lower-alpha;
}

.ug-right-container .ug-content-wrapper li {
	margin: 10px 0;
	padding-left: 38px;
	position: relative;
}

.ug-right-container .ug-content-wrapper li:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 13px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #333333;
}

.ug-right-container .ug-content-wrapper li img {
	vertical-align: top;
	position: relative;
	top: -10px;
}

.ug-right-container .ug-content-wrapper li p {
	margin-top: 20px;
}

.ug-right-container .ug-content-wrapper figure {
	display: block;
	margin: 50px 0;
	max-width: 100%;
}

.ug-right-container .ug-content-wrapper figure img {
	width: auto;
	max-width: 100%;
	border: 1px solid #d8d8d8;
}

.ug-right-container .ug-content-wrapper figure figcaption {
	margin-top: 10px;
	font-size: 11px;
}

.ug-right-container .ug-content-wrapper table {
	margin: 20px 0 45px;
	table-layout: fixed;
}

.ug-right-container .ug-content-wrapper table th {
	background: linear-gradient(180deg, #e0dcdb 0, #f6f6f6);
	height: 32px;
	font-weight: 600;
	border: 1px solid #d8d8d8;
	padding: .75rem;
	line-height: unset;
	vertical-align: top;
	color: #333333;
}

.ug-right-container .ug-content-wrapper table td {
	height: 37px;
	border-bottom: 1px solid #eaeaea;
	padding: .75rem;
	vertical-align: top;
}